.home {
  width: 100%;
  height: 100%;
  position: relative;
}
.home__container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60px;
  bottom: 85px;
}
.home__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.home__munbo {
  margin-bottom: 2rem;
}
.home__text {
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 6.5rem;
}
.home__text__munbo {
  font-size: 1.5rem;
  font-weight: 600;
}
.home__btn-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__btn {
  width: 50%;
  max-width: 250px;
  height: 11.875rem;
  border: none;
  border-radius: 1.25rem;
  background: linear-gradient(
    141deg,
    #1665e4 4.47%,
    rgba(66, 132, 237, 0.91) 56.32%,
    #1667e9 94.26%
  );

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.8rem 1.5rem 1.3rem;
  cursor: pointer;
}
.home__btn:nth-child(2) {
  padding-right: 1.5rem;
}
.home__btn:nth-child(1) {
  margin-right: 1.3rem;
}
.home__btn__text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-align: start;
}
.home__btn__text--quiz {
  margin-bottom: 0.5rem;
}
.home__btn__text--note {
  margin-bottom: 1.3rem;
}
.home__btn__icon {
  width: 100%;
  display: flex;
  justify-content: end;
}
