.MCQ {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.MCQ::-webkit-scrollbar {
  display: none;
}
.MCQ-hidden-scroll {
  overflow: hidden;
}
.MCQ__container {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 85px;
  padding-top: 3rem;
}
.MCQ__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MCQ__icon {
  width: 85%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 2.5rem;
}
.MCQ__question {
  width: 85%;
  max-width: 700px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.MCQ__choice {
  width: 85%;
  max-width: 600px;
  font-size: 1.15rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 3rem;
}
